name: Jenkins CI

on:
  workflow_dispatch:  # 允许手动触发
  pull_request:
    types: [opened, reopened]

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:    
      - name: Trigger jenkins job 
        uses: zhangliang-2021/simple-jenkins-githubaction@main
        with:
          job_name: paddle_fastdeploy_metax_smoketest
          username: ${{ secrets.METAX_JENKINS_USER }}
          api_token: ${{ secrets.METAX_JENKINS_API_TOKEN }}
          # pr_num: ${{ github.event.pull_request.number }}
          pr_num: 5603
