name: Jenkins CI

on:
  workflow_dispatch:  # 允许手动触发

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
    
      - name: Trigger jenkins job 
        uses: zhangliang-2021/simple-jenkins-githubaction@main
        with:
          job_name: paddle_fastdeploy_metax_smoketest
          username: ${{ secrets.METAX_JENKINS_USER }}
          api_token: ${{ secrets.METAX_JENKINS_API_TOKEN }}
          pr_num: "5603"
